body {
  asdbackground-color: #434858;
  background-image: url('../img/pattern.png');
  background-blend-mode: multiply;
}

.container {
  max-width: 550px;
  padding: 0 30px;
}

.logo {
  max-width: 60px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  asdcolor: #fff;
}

.list {
  margin-top: 30px;
}

.list .github {
  position: relative;
  top: 5px;
}

.grid .demo {
  background: #d1d1d1;
  border-radius: .4rem;
  display: block;
  height: 3.0rem;
  line-height: 3.0rem;
  text-align: center;
  text-transform: uppercase;
}

.introduction h1 {
  margin: 0;
}

.introduction p {
  margin-bottom: 40px;
}