body {
  background-color: #eef3f5;
  background-image: url('../img/pattern.png');
  background-blend-mode: lighten;
  background-attachment: fixed;
}

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 15px;
}

input[type=email]:last-of-type,
input[type=number]:last-of-type,
input[type=password]:last-of-type,
input[type=search]:last-of-type,
input[type=tel]:last-of-type,
input[type=text]:last-of-type,
input[type=url]:last-of-type,
textarea:last-of-type {
  margin-bottom: 23px;
}

.seperator {
  margin-top: 65px;
}

.container {
  max-width: 560px;
  padding: 0 30px;
}

.logo {
  max-width: 60px;
  margin: 0 auto;
}

.grid .demo {
  background: #f0f1f2;
  border-radius: .4rem;
  display: block;
  height: 3.0rem;
  line-height: 3.0rem;
  text-align: center;
  text-transform: uppercase;
}

.introduction {
  margin: 9% 0;
}

.introduction h1 {
  margin: 0;
}

.introduction p {
  margin-bottom: 50px;
}

.introduction .list {
  width: 290px;
  margin-top: 60px;
}

.introduction .list li {
  margin-right: 0;
}

.introduction .list .github {
  position: relative;
  top: 5px;
}

.introduction .list.list--inline li:after {
  content: "·";
  margin: 0 10px;
  opacity: 0.5;
}

.introduction .list.list--inline li:last-of-type:after {
  content: "";
  margin: 0;
}

.typography .headings h1,
.typography .headings h2,
.typography .headings h3,
.typography .headings h4,
.typography .headings h5,
.typography .headings h6 {
  margin-top: 40px;
  margin-bottom: 10px;
}

pre[class*="language-"] {
  margin-bottom: 30px;
  font-size: 13px;
  line-height: 1.7;
}

code[class*="language-"] {
  text-shadow: none;
}

.meta-info {
  margin-top: 100px;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.7;
}

.heart {
  color: #ef4f52;
}