/*********************************************************
    Colors
*********************************************************/
$color__primary: #17ffcb;
$color__primary--dark: darken($color__primary, 20%);
$color__primary--light: lighten($color__primary, 35%);

$color__text: #b1bac7;
$color__text--black: #000;
$color__text--white: #fff;
$color__text--dark: darken($color__text, 20%);
$color__text--light: lighten($color__text, 35%);

$color__background--highlight: #f6ed30;

/*********************************************************
    Typography
*********************************************************/
$font__sans-serif: 'Source Sans Pro', sans-serif;
$font__monospace: 'Monaco', monospace;
$font__base-font-size: 1.6rem;
$font__base-line-height: 1.6;