/*********************************************************
    Codes
*********************************************************/
.code {
	font-family: $font__monospace;
	font-size: 1.3rem;

	&.code--background {
    padding: .5rem 1rem;
		background: rgba(0, 0, 0, 0.30);
	}

  &.code--highlight {
    padding: .5rem 1rem;
    border-left: .2rem solid $color__primary;
  }
}