/*********************************************************
    Codes
*********************************************************/
pre,
samp,
code {
	font-family: $font__monospace;
	font-size: 1.4rem;
}

pre {
	margin: 3rem 0;
}