/*********************************************************
    Grid
*********************************************************/
.grid {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -1rem;
  box-sizing: border-box;

  &.grid--equal-height {
    & .grid__col {
      display: flex;
    }
  }

  &.grid--reverse {
    flex-direction: row-reverse;
  }

  &.grid--gapless {
    margin: 0;

    & .grid__col {
      padding: 0;
    }
  }

  & .grid__col {
    padding: 0 1rem 1rem;

    &.grid__col--12 {
      flex-basis: 100%;
      max-width: 100%;
    }

    &.grid__col--11 {
      flex-basis: 91.66666667%;
      max-width: 91.66666667%;
    }

    &.grid__col--10 {
      flex-basis: 83.33333333%;
      max-width: 83.33333333%;
    }

    &.grid__col--9 {
      flex-basis: 75%;
      max-width: 75%;
    }

    &.grid__col--8 {
      flex-basis: 66.66666667%;
      max-width: 66.66666667%;
    }

    &.grid__col--7 {
      flex-basis: 58.33333333%;
      max-width: 58.33333333%;
    }

    &.grid__col--6 {
      flex-basis: 50%;
      max-width: 50%;
    }

    &.grid__col--5 {
      flex-basis: 41.66666667%;
      max-width: 41.66666667%;
    }

    &.grid__col--4 {
      flex-basis: 33.33333333%;
      max-width: 33.33333333%;
    }

    &.grid__col--3 {
      flex-basis: 25%;
      max-width: 25%;
    }

    &.grid__col--2 {
      flex-basis: 16.66666667%;
      max-width: 16.66666667%;
    }

    &.grid__col--1 {
      flex-basis: 8.33333333%;
      max-width: 8.33333333%;
    }
  }
}