/*********************************************************
    Links
*********************************************************/
a {
  text-decoration: none;
  color: $color__primary;
  border-bottom: .2rem solid $color__primary--light;

  &:hover {
    color: $color__primary--dark;
    border-bottom-color: $color__primary--dark;
  }
}