/*********************************************************
    Lists
*********************************************************/
dl {
  & dt {
    font-weight: 600;
  }

  & dd {
    margin: 0;
  }
}

.list {
  margin: 3rem 0;
  padding: 0;

  &.list--unstyled {
    margin: 0;
    list-style: none;
  }

  &.list--inline {
    & li {
      display: inline-block;
      margin-right: 1rem;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}