/*********************************************************
    Base
*********************************************************/
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #606c76;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}