/*********************************************************
    Colors
*********************************************************/
$color__primary: #17ffcb;
$color__primary--dark: darken($color__primary, 20%);
$color__primary--light: lighten($color__primary, 35%);

$color__text: #606c76;
$color__text--light: lighten($color__text, 25%);