a {
  text-decoration: none;
  color: $color__primary;
  border-bottom: .3rem solid lighten($color__primary, 35%);

  &:hover {
    color: $color__primary--dark;
    border-bottom-color: $color__primary--dark;
  }
}