/*********************************************************
    Typography
*********************************************************/
h1, h2, h3, h4, h5, h6 {
	margin: 7rem 0 4rem 0;
	font-weight: 300;
	line-height: 1.2;
	color: #000;
}

h1 {
  font-size: 7.2rem;
}

h2 {
  font-size: 5.4rem;
}

h3 {
  font-size: 3.6rem;
}

h4 {
  font-size: 2.7rem;
}

h5 {
  font-size: 2.3rem;
}

h6 {
  font-size: 1.9rem;
}

p {
  margin: 0 0 3rem 0;
}

abbr,
abbr[title] {
	text-decoration: none;
	border-bottom: .1rem dotted #d4d4d4;
	cursor: help;
}

blockquote {
	margin: 3rem 0;
	padding: 1rem 3rem;
	border-left: .2rem solid $color__primary;

	& > p {
		margin: 0;
	}

	& > footer {
		margin-top: .3rem;
		color: $color__text--light;
	}
}

pre,
samp,
code {
	font-family: 'Consolas', 'Monaco', monospace;
	font-size: 1.4rem;
}

pre {
	margin: 3rem 0;
	padding: 3rem;
	background-color: #f9f9f9;
	border-left: .2rem solid $color__primary;
}