h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	margin: 0;
}

h1 {
  font-size: 4.0rem;
	letter-spacing: -.1rem;
	line-height: 1.2;
}

h2 {
  font-size: 3.6rem;
	letter-spacing: -.1rem;
	line-height: 1.25;
}

h3 {
  font-size: 3.0rem;
	letter-spacing: -.1rem;
	line-height: 1.3;
}

h4 {
  font-size: 2.4rem;
	letter-spacing: -.08rem;
	line-height: 1.35;
}

h5 {
  font-size: 2rem;
	letter-spacing: -.05rem;
	line-height: 1.5;
}

h6 {
  font-size: 1.6rem;
	letter-spacing: 0;
	line-height: 1.4;
}

p {
  margin: 0 0 1.8rem 0;
}